<h4>Flopchooser</h4>

<div class="flop-chooser">
  <p>Which movie has a lower IMDB rating?</p>
  <p [hidden]='!hasChosen'>
    <span [hidden]='!isCorrect'>
    Correct!
    </span>
    <span [hidden]='isCorrect'>
    Incorrect!
    </span>
  </p>
  <button
  [hidden]='!hasChosen'
  (click) = 'onPlayClickAgain()'
  class="btn btn-primary">Play Again</button>


</div>



<div class="movie-image">

  <app-display-movie [movie]="flops.first" (select)="onFirstSelected()"></app-display-movie>
  <app-display-movie [movie]="flops.second" (select)="onSecondSelected()"></app-display-movie>
</div>